<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farenheit convertee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/Celsius">Celsius</a></li>
      <li class="active"><a href="/Farenheit">Farenheit</a></li>
      <li class="active"><a href="#">kelvin</a></li>

    </ul>
  </div>
</nav>

<div class="container">
  <h3>this converter to Farenheit</h3>
  <p>Fahrenheit es una escala de temperatura termodinámica, donde el punto de congelación del agua es a 32 grados Fahrenheit (°F) y el punto de ebullición a 212 ° F ( a una presión atmosférica normal). Esto sitúa los puntos de ebullición y congelación del agua exactamente a 180 grados de diferencia. Por lo tanto, un grado en la escala Fahrenheit es 1/180 del intervalo entre el punto de congelación y el punto de ebullición del agua. </p>
</div>

</body>
</html>
