<style>
body {
	background-color: #5e5e5e;
}</style>

<section class="corverters" id="celsiusid">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12" id="head1">
        <div class="heading" >
          <h2><small>Corvert from Celsius</small>Just enjoy this!</h2>
        </div>
      </div>
      <div class="col-md-6 ">
        <form method="POST">
          <div class="form-group">
            <div class="form-group">
              <label for="formGroupExampleInput">Enter the temperature in Celsius</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="tCelcius" placeholder="0 °C">
            </div>
              <button type="submit" class="btn btn-primary">Convert</button>
          </div>
        </form>
      </div>
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
                <h3>Farenheit</h3>
                <p>The value <%=@tCelcius%>°C in Farenheit is: </p>
                <p><%=@tCelcius1 if @tCelcius%> °F</p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-eraser" aria-hidden="true"></i>
                <h3>Kelvin</h3>
                <p>The value <%=@tCelcius%>°C in kelvin is: </p>
                <p><%=@tCelcius2 if @tCelcius%> °K</p>
            </div>
        </div>
      </div>
      <div class="col-md-4"> <img src="https://images.vexels.com/media/users/3/144259/isolated/preview/be06308bc7a18f65606c92852047db26-temperature-icon-celcius-by-vexels.png" class="img-fluid" /> </div>
      </div>    
    </div>
</div>
</section>
