<form method="POST">
  <div class="form-group">
  <div class="form-group col-md-6">
    <label for="formGroupExampleInput">Introduzca temperatura en celsius label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="tCelcius" placeholder="Example input">
  </div>
  <button type="submit" class="btn btn-primary">Convertir</button>
  </div>
  </form>
  <p><%=@tCelcius%></p>