<div class="carousel-item active">
            <img class="d-block w-100" src="image1.jpeg" alt="First slide">
        </div>
</div>
<section class="corverters" id="corvert">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
      <h2><small>Corvert Scales</small>Just enjoy this page</h2>
    </div>
        </div>
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-flag" aria-hidden="true"></i>
                <h3>Celsius</h3>
                <p>Sed non varius arcu. Proin id dolor lectus. Suspendisse scelerisque sollicitudin mi, in placerat metus venenatis ut. Nulla turpis mauris, vestibulum laoreet vestibulum in, lacinia vel neque. </p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
                <h3>Farenheit</h3>
                <p>Sed non varius arcu. Proin id dolor lectus. Suspendisse scelerisque sollicitudin mi, in placerat metus venenatis ut. Nulla turpis mauris, vestibulum laoreet vestibulum in, lacinia vel neque.</p>
            </div>
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-eraser" aria-hidden="true"></i>
                <h3>Celsius</h3>
                <p>Sed non varius arcu. Proin id dolor lectus. Suspendisse scelerisque sollicitudin mi, in placerat metus venenatis ut. Nulla turpis mauris, vestibulum laoreet vestibulum in, lacinia vel neque. </p>
            </div>
        </div>
      </div>
      <div class="col-md-4"> <img src="https://images.vexels.com/media/users/3/144259/isolated/preview/be06308bc7a18f65606c92852047db26-temperature-icon-celcius-by-vexels.png" class="img-fluid" /> </div>
    </div>
  
  </div>
</section>


<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>Lorem Ipsum</small>About<br>
         </h2>
      </div>
      <div class="col-md-4">
        <p>Aenean eget molestie ipsum, vitae volutpat enim. Praesent lobortis tortor turpis, eget facilisis est lacinia eu. Donec feugiat lorem at nisi rutrum, eu vulputate sem cursus. Sed nisi ipsum, mattis vitae mi consectetur, suscipit convallis ipsum. In neque mauris, dapibus vitae luctus vitae, accumsan eu purus. Fusce eleifend non felis vitae sollicitudin.</p>
        <p>Fusce eleifend non felis vitae sollicitudin. In ultrices orci mi, quis ornare magna blandit vel. Integer finibus convallis dolor, eget cursus odio.</p>
      </div>
      <div class="col-md-4">
        <p>Fusce eleifend non felis vitae sollicitudin. In ultrices orci mi, quis ornare magna blandit vel. Integer finibus convallis dolor, eget cursus odio.</p>
        <p>Phasellus hendrerit ac mauris id aliquam. Nulla hendrerit justo at ligula finibus mattis. Etiam luctus cursus justo sit amet auctor. Integer congue odio ac ante luctus vulputate. Proin lobortis eget ligula sit amet viverra. Proin ac mattis felis. Cras eget fringilla turpis, non congue dolor.</p>
        
      </div>
    </div>
  </div>
</section>

<section class="action-sec">
          <div class="container">
              <div class="action-box text-center"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit tempor sollicitudin. Ut neque mauris, varius eget semper nec, posuere ut ante. Donec felis turpis, lobortis at venenatis in, tempor ac risus. Donec eu aliquam est. Maecenas facilisis, risus nec posuere aliquam, ipsum nibh suscipit purus, nec malesuada lorem ex vitae turpis. Aliquam erat volutpat. Aenean et nisi sed libero ultricies feugiat nec in ligula. Ut quis posuere nisi. Mauris lobortis sed arcu at blandit. Proin vulputate eu justo ac scelerisque. </h2><a class="btn btn-success" href="/home">Back to top</a></div>
          </div>
</section>